
#mainTitle{
  color:dodgerblue;
}

#subTitle {
  color:cornflowerblue;
}

#chooseFileBn {
  color:cornflowerblue;
}

body {
  font-family: sans-serif;
}

.jumbotron {
  width: 70%;
}

.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
  margin-top: 16px;
  margin-bottom: 16px;
}

.area{
  margin-top: 16px;
  width: 100%;
  white-space: pre;
}

.input-one {
  width: 100%;
  margin-top: 16px;
  margin-bottom: 16px;
}



